.blog-events {
  background-color: #f5f5f5;
  padding: 8rem 2rem 16rem;
}

.blog-events .container {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

.blog-events .be__heading {
  margin-bottom: 4rem;
}

.blog {
  width: 45%;
  position: relative;
}

.blog__item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.events {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.blog__item,
.event-item {
  background-color: white;
  padding: 4rem 2rem;
  margin: 0;
  display: flex;
  position: relative;
  align-items: center;
  gap: 2rem;
}

.event-item {
  margin-bottom: 2.5rem;
}

.line {
  position: absolute;
  width: 50rem;
  bottom: 0px;
  height: 1px;
  margin-top: 4rem;
  background-color: rgb(145, 137, 137);
}

.blog h2,
.events h2 {
  font-size: 2.4rem;
  color: #1c1e2e;
  margin-bottom: 1.6rem;
  display: inline-block;
}

.blog article h3 {
  font-size: 1.8rem;
  color: #1c1e2e;
  margin-bottom: 0.6rem;
}

.blog article p {
  font-size: 1.4rem;
  color: #7a7a7a;
  line-height: 1.6;
}

.blog__item .desc {
  line-height: 1.6;
  font-size: 1.4rem;
  margin-top: 2rem;
  color: black;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border-radius: 8px;
  text-align: center;
  color: white;
}

.calendar__top,
.calendar__bottom {
  width: 100px;
  display: flex;
  justify-content: center;
  padding: 1.5rem 2rem;
}

.calendar__top {
  display: flex;
  flex-direction: column;
  background-color: #fcc600;
  height: 700%;
  font-size: 2.4rem;
  font-weight: bold;
  width: 100%;
}

.calendar .calender__bottom {
  background-color: #001f3d;
  height: 50%;
  color: white;
  font-size: 1.6rem;
  width: 100%;
  padding: 0.5rem 0;
}

.event-item .desc {
  margin-top: 1rem;
}

.blog .btn {
  position: absolute;
  right: 0;
  bottom: -7.3rem;
}

.events .btn,
.blog .btn {
  min-width: 12rem;
  max-width: 12rem;
  line-height: 2rem;
  margin-left: auto;
}
